<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph</title>
</head>

<body>


{% if error != NULL %}
    <h2>{{ error }}</h2>
    <script>
        document.write('<a href="' + document.referrer + '">Click me to go back to the previous page</a>');
    </script>

{% else %}
    <h1>Your Graph</h1>
    <img src="data:image/png;base64, {{ GRAPH_IMG }}" alt="graph" width="1250"/>
    <br>
    <a href="data:image/png;base64, {{ GRAPH_IMG }}" download="graph.png">Download Graph</a>
    <br>
    <a class="button" href="data:text/csv; {{ CSV }}" download="data.csv">Download CSV file</a>
    <br>

    <!--{{ table|safe }}-->

    <!--try with ajax-->
{% endif %}
</body>
</html>